/exec
/PullIn
/append

# Storage completo
/storage/
/temp/
	
# Themes: ignorar todos menos "default"
themes/*
!themes/default/

# =========================================
# Archivos y extensiones no necesarias
# =========================================
*.txt
*.py
*.zip
*.lock
*.local*
.local*
sitemap.xml
inc/config/Config.Database.php