.grid-home {
    grid-template-columns: 1fr 300px;
}
.grid-ver {
    grid-template-columns: 190px 1fr 250px;
}
.grid-album {
    grid-template-columns: 1fr;
}
.form-add-post .loader {
    background: var(--color-surface);
    z-index: 9;
    inset: 0;
    display: none;
}
