.emptyData {
	font-weight: 600;
	display: block;
	padding: .5rem 0;
	text-align: center;
}
.listado-item {
	grid-template-columns: 3rem 1fr;
	&.unread {
		background: #F8EAC9;
	}
	> a {
		width: 3rem;
		height: 3rem;
	}
	.notification-info {
		.user {
			font-weight: 600;
			font-size: 1rem;
		}
		.time {
			font-size: 0.675rem;
		}
		.action a {
			font-weight: 600;
			text-decoration: underline;
		}
	}
}
.stats-grid .active {
	font-weight: 600;
}