.header-profile {
	--avatar: 120px;
	.profile-data {
		grid-template-columns: var(--avatar) 1fr 300px;
		.data-avatar {
			width: var(--avatar);
			height: var(--avatar);
		}
		.data-info {
			line-height: 1.5rem;
			h1 {
				font-weight: 600;
				font-size: 1.5rem;
			}
			.frase-personal {
				font-style: italic;
				color: #444;
			}
		}
		.data-stats {
			grid-template-columns: repeat(2, 1fr);
			.stats-item {
				line-height: 1rem;
				font-size: var(--font-size-sm);
				background: var(--color-surface-alt);
			}
		}
	}
}
#followUser {
	top: 1rem;
	right: 1rem;
}
.profile-navegation {
	border-bottom: 1px solid var(--color-border);
	#tabs_menu {
		.tab-item {
			border-radius: .325rem .325rem 0 0;
			&.active, &:hover {
				background: #EEE;
			}
		}
	}
}

.perfil-main {
	grid-template-columns: 1fr 300px;
}
.publish-box {
	background: #eeeeee38;
	border:1px solid var(--color-surface-alt);
}
.option-publish {
	input {
		all: unset;
		padding: .5rem .5rem;
		width: 100%;
		background: var(--color-surface);
	}
	span {
		display:block;
		background: var(--color-primary);
		color: var(--color-primary-contrast);
		padding: .5rem 1rem;
		&:hover {
			background: var(--color-border);
		}
	}
}
.publish-box #result  {
	padding: .5rem;
	.big.a_blue {
		font-weight: 600;
	}
	span.desc {
		font-style: italic;
		font-size: .75rem;
	}
}

.more-pubs {
	width: 80%;
	margin: 1em auto;
	display: flex;
	justify-content: center;
	align-items: center;
	& button {
		background: transparent;
		border: transparent;
		padding: .5rem;
	}
}
/*** FOTO BAR ***/
#perfil-foto-bar .list-fotos {
	grid-template-columns: repeat(6, 1fr);
}
#perfil-foto-bar .list-fotos .list-fotos-item {
	height: 100px;
}
#perfil-foto-bar img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
/**** FORM PUB ****/
.stream {
	background: url('../../../assets/images/icons/muro/stream.png') no-repeat left top;
	display: inline-block;
	width: 16px;
	height: 16px;
}
.mpub, .w_1 {background-position: left -16px;}
.mfoto, .w_2 {background-position: left -32px;}
.mlink, .w_3 {background-position: left -48px;}
.mvideo, .w_4 {background-position: left -64px;}

#perfil-form .attaFrame {
	border:1px solid #B4BBCD;
}
#attaContent div{
	display:none;
	padding: 10px;
}
#attaContent textarea.status{
	border:none;
	width: 100%;
	height: 14px;
	background: #FFF;
}
#attaContent input.itext{
	background: #FFF;
	width: 400px;
	border:1px solid #BDC7D8;
}
#attaContent .adj{
	width: auto!important;
	display: inline!important;
}
.btnStatus {
	padding-top: 5px;
	display: none;
}
.shareBtn{
	width: auto!important;
	float:right;
}
.attaDesc {
	background-color: #F2F2F2;
	border-top:1px solid #CCC;
	padding: 5px;
	display: none;    
}
.attaDesc .wrap{
	border:1px solid #B4BBCD;
	padding: 1px 5px;
	margin-bottom: 5px;
	background: #FFF;
}
.attaDesc textarea{
	border:0;
	width: 100%;
	height: 14px;
	background: #FFF;
}
/***/
#fotoFrame img{
	background: #FFF;
	max-width:130px; 
	max-height:130px; 
	border:1px solid #CCC; 
	padding:3px;
}
#enlaceFrame a.big{
	font-size: 16px;
	font-weight: bold;
}
#enlaceFrame span.desc{
	color: #808080;
	font-size:13px;
}
#videoFrame div {
	display: block;
	padding: 0;
}
#videoFrame .thumb{
	float: left;
	margin-right: 10px;
	max-height: 130px;
	max-width: 130px;
}
#videoFrame .vDesc{
	color: #808080;
	display: table-cell;
	vertical-align: top;
	width: 10000px;
	padding: 0;
}
/***** MURO *****/
.a_blue{
	color:var(--color-primary-hover)!important;
}
.Story {
	--space: .875rem;
	--avatar: 48px;
	grid-template-columns: var(--avatar) 1fr;
	grid-template-areas: "avatar content" "avatar footer";
}
.Story_Pic {
	grid-area: avatar;
	display: block;
	width: var(--avatar);
	height: var(--avatar);
	border: 1px solid var(--color-text-muted);
	border-radius: .5rem;
	overflow: hidden;
}
.Story_Content {
	grid-area: content;
	width: 100%;
	border: 1px solid var(--color-border);
	padding: 0.325rem;
	box-sizing: border-box;
	border-radius: .325rem;
	position: relative;
	&::before {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-right: 6px solid var(--color-border);
		margin-left: -13px;
		margin-top: 10px;
	}
}
.Story_Content .uiClose {
	background: url("../../../assets/images/icons/muro/fb_close_big.png") no-repeat center top;
	height: 1rem;
	width: 1rem;
	display: block;
	&:hover {
		background-position: center -45px;
	}
}
.Story_Head {
	position: relative;
}
.Story_Hide {
	position: absolute;
	right: .325rem;
	top: .125rem;
	display: none;
}
.Story:hover .Story_Hide{
	display: block;
	
}
.Story_Head .Story_Message {
	font-size: var(--font-size-sm);
	word-wrap: break-word;
}
.Story_Message .autor {
	font-weight: bold;
}

.uiLink {
	color: var(--color-primary);
	padding: .325rem;
	text-decoration: none;
   & .uiLink-title {
		font-size: var(--font-size-base);
   	font-weight: 600;
   }
   & .uiLink-description {
		font-size: var(--font-size-sm);
		font-style: italic;
	}
}
.uiVideo {
	min-height: 333px;
	max-height: 410px;
	.video-description {
		bottom: 6px;
		padding: .75rem;
		width: 100%;
		background: linear-gradient(to top, #000, #0009, #0002);
		box-sizing: border-box;
		color: #FFF;
		line-height: 1.5rem;
		backdrop-filter: blur(3px);
		span {
			font-size: 14px;
			font-weight: 600;
		}
		p {
			margin: 0;
			line-height: 1rem;
			font-size: 11px;
		}
	}
}

/******************/
.Story_Foot {
	grid-area: footer;
}
.Story_Foot .Story_Info {
	position: relative;
}
.Story_Foot .Story_Info i{
	top:0!important;
}
.Story_Comments {
	width: 410px;
	padding-top: 2px;
}
.lifi i {
	background-image: url("../images/icons/muro/fb_arrow_min.png");
	background-repeat: no-repeat;
	display: block;
	height: 5px;
	margin-left: 17px;
	width: 9px;
}
.ufiItem {
	background-color: #EDEFF4;
	border-bottom: 1px solid #E5EAF1;
	margin-bottom: 2px;
	padding: 5px 5px 4px;
	position: relative;
}
.ufiItem i {
	background-image: url(../images/icons/muro/fb_cm_box.png);
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	margin: 0 5px 0 0;
	float: left;
	width: 16px;
}
.ufiItem .autorPic{
	margin-right: 8px;
	float:left;
}
.ufiItem .close{
	position: absolute;
	display: none;
	right: 2px;
}
.ufiItem:hover .close{
	display: block;
}
.ufiItem .autorName{
	font-weight: bold;
}
.ufiItem .mensaje{
	overflow: hidden;
	width: 360px;
}
.ufiItem .cmInfo{
	color:#999;
}
.ufiItem .newComment {
	padding: 0;
}
.ufiItem .newComment img{
	float:left;
	margin-right: 8px;
}
.ufiItem .newComment textarea, .ufiItem .newComment input[type="text"]{
	width: 394px;
	height: 13px;
	font-size:11px;
	border:1px solid #BDC7D8;
	background: #FFF;
}
.ufiItem .newComment input[type="text"]{
	color:#777;
}
.ufiItem .newComment textarea{
	float:left;
	width: 354px;
}
.likes {
	color:#333!important;
}
.likes i{
	background-position: center -16px;   
}
.likes a{
	color:#3B5998!important;
}
.cm_like i{
	background-position: center -36px;
	display: inline-block;
	height: 9px;
	width: 10px;
	float:none;
	margin: 0;
}
.more_comments img{
	margin:3px 0 0 5px;
	float:left;
	display:none;
}
/*****/
#show_likes {
	background-color: #FFF;
	width: 400px;
	height: 300px;
	overflow:auto;
	border-bottom: 1px solid #E9E9E9;
	text-align: left;
	margin: -20px -5px;
}
#show_likes li{
	clear:both;
	padding: 4px;
	border-top: 1px solid #E9E9E9; 
}
#show_likes li a{
	float: left;
	margin-right: 10px;
}
#show_likes div.name {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}
#show_likes .name a{
	float: none;
	color:#3B5998;
	font-size: 13px;
	font-weight: bold;
}
/***********/

/*
	ACTIVIDAD EN PERFIL
	-------------------------------------------------
*/
.big-info .last-activity div.sep {
	background: none repeat scroll 0 0 #FFFFFF !important;
	border-bottom: 1px dotted #CCCCCC;
	color: #333333;
	font-size: 12px;
	padding: 8px;
	position: relative;
}
.big-info .last-activity .ac_content {
	overflow: hidden;
	height: 16px;
	width: 585px;
}
.big-info .last-activity div.sep:last-child {
	border: medium none !important;
}
.big-info .last-activity div.sep a {
	color: #004A95;
	font-weight: bold;
	height: 16px;
	overflow: hidden;
}
.big-info .last-activity div.sep span.time {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #999999;
	display: block;
	font-size: 11px;
	padding: 5px 5px 5px 10px;
	position: absolute;
	right: 0;
	top: 3px;
}
.big-info .last-activity div.sep:hover span.time {
	display: none;
}
.big-info .last-activity div.sep span.remove {
	display: none;
}
.big-info .last-activity div.sep span.remove a {
	display: block;
}
.big-info .last-activity div.sep em {
	display: none;
}
.big-info .last-activity div.sep:hover span.remove {
	background: url("../images/icons/cross.png") no-repeat scroll left top transparent;
	display: block;
	float: right;
	font-weight: bold;
	margin-top: 3px;
	opacity: 0.2;
	text-indent: -9999px;
	width: 10px;
}
.big-info .last-activity div.sep:hover span.remove:hover {
	cursor: pointer;
	opacity: 1;
}
.big-info .last-activity div.sep:hover {
	background-color: #FFFFEE !important;
}
.big-info .last-activity div.date-sep h3 {
	background: none repeat scroll 0 0 #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	color: #FF6600;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 8px;
}
.last-activity img {
	border: 1px solid #CCCCCC;
	padding: 1px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.last-activity img.avafriend {
	margin-right: 5px;
}
#last-activity-view-more {
	background: none repeat scroll 0 0 #F0F7FF;
	border-bottom: medium none;
	border-top: 1px solid #99B9DE;
	color: #416EA1;
	display: block;
	font-size: 12px;
	padding: 10px;
	text-align: center;
}