.grid-tops {
	grid-template-columns: 250px 1fr;
}
.subgrid-tops {
	grid-template-columns: repeat(2, 1fr);
}
.filters-options {
	padding: 1rem;
	h4 {
		margin: 0;
	}
}
.filter-list {
	.filter-item {
		width: 100%;
		box-sizing: border-box;
		text-decoration: none;
		font-weight: 500;
		&.active, &:hover {
			background-color: #CCC8;
		}
	}
}
.categoria-item {
	grid-template-columns: 1rem auto 2rem;
	grid-template-areas: 'image text count';
	padding: .325rem;
	&:nth-child(even) {
		background: #F4F4F4;
	}
	img {
		grid-area: image;
		min-width: 1rem;
		min-height: 1rem;
		max-width: 1.5rem;
		max-height: 1.5rem;
	}
	a {
		flex-grow: 1;
		grid-area: text;
	}
	span {
		grid-area: count;
		height: 1rem;
		line-height: 1rem;
		background: var(--color-primary);
		color: var(--color-primary-contrast);
	}
}
