:root {
	--body-bg: #E4E4E4;
}
[data-install] {
	--color-rgb: rgba(var(--color-base-triplet), 1);
   --color: rgb(var(--color-base-triplet));
   --color-hover: color-mix(in srgb, var(--color) 90%, black 10%);
   --color-active: color-mix(in srgb, var(--color) 80%, black 20%);
}
[data-install="default"] {--color-base-triplet: 0, 120, 160;}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	scrollbar-color: var(--bg) var(--body-bg);
	scrollbar-gutter: stable;
}

body {
	font: normal normal 400 1rem/1.5rem 'Roboto', sans-serif;
	background: #FFF;
	color: #222;
}

ol, ul {
	list-style: none;
}
a, a:visited {
	color: var(--color);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}	
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	background-color: var(--color-hover);
	border:none;
	margin: 10px 5px;
	height: 1px;
}
input:not([type=checkbox],[type=radio],[type=submit],[type=button]),
select, textarea {
	border: 1px solid var(--color);
	display: block;
	width: 100%;
	padding: 0.75rem;
	border-radius: .5rem;
	margin: .325rem 0;
}
/*
	General
	----------------------------------------------------------
*/	
.container {
	margin: 0 auto;
	padding: 2rem;
	position: relative;
	width: 60%;
	min-width: 600px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	h2 {
		font-weight: 400;
		text-align: right;
		span {
			font-weight: 600;
			display: block;
		}
	}
}

.content {
	background-color: #FFFFFF;
	padding: 1rem;
}

#form fieldset {
	margin: .5rem 0;
	padding: 1rem;
	position: relative;
}
#form legend {
	color: var(--color);
	font-size: 1.325rem;
	position: relative;
	text-transform: none;
}
fieldset {
	dl {
		display: grid;
		grid-template-columns: 260px 1fr;
		padding: .75rem .5rem;
		gap: 1rem;
		&:nth-child(2n+1) {
			background: #EEE4;
		}
		dt {
			label, label small, label span {
				display: block;
			} 
			> span {
				display: block;
				font-style: italic;
				font-size: 0.8rem;
			}
		}
		dd {
			vertical-align: middle;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
	}
}
#form fieldset p {
	background-color: transparent;
	border: medium none;
	margin: 0 0 10px;
	padding: 10px 0 0;
}
#form fieldset .button-group {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: .5rem;
	> input {
		cursor:pointer;
	}
}
#form input.radio {
	background-color: transparent;
	border: medium none;
	cursor: default;
	width: auto !important;
}

span {
	display: block;
	&.status {
		font-weight: bold;
	}
	&.danger {
		color:#bf0000;
	}
	&.success {
		color:green;
	}
}

div.error {
	background-color: #fff9da;
	text-align: center;
	padding: .5rem;
	margin: .5rem;
	border-radius: .325rem;
	color: #52470C;
}
	
.gbqfb {
	background-color: var(--color);
	border-radius: .325rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: white;
	cursor: default;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: .5rem 1rem;
	text-transform: uppercase;
	font-weight: 700;
	&:hover {
		background-color: var(--color-hover);
	}
	&:active {
		background-color: var(--color-active);
	}
	&.red {
		--color: #C42626;
		background-color: var(--color);
		&:hover {
			--color-hover: color-mix(in srgb, var(--color) 90%, black 10%);
			background-color: var(--color-hover);
		}
		&:active {
			--color-active: color-mix(in srgb, var(--color) 80%, black 20%);
			background-color: var(--color-active);
		}
	}
}

/* FOOTER */
#footer {
	margin: 1rem 0;
}
#footer p {
	text-align: center;
	color: var(--color);
}
#footer a{
	color: var(--color);
	font-weight: bold;
}