.badge {
	display: inline-block;
	padding: 4px 8px;
	font-size: var(--font-size-sm);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .325rem;
	background-color: var(--color-primary);
	color: var(--color-primary-contrast)!important;
	text-decoration: none;
	&:hover {
	  opacity: 0.8;
	  text-decoration: none;
	}
}

/* POST */
#no-comments{
	font-weight: bold; 
	font-size: 14px;
	text-align: center;
	color: #666;
	margin: 10px 0 10px 10px;
}

/**
 * Input radio
*/
.switch-field {
	display: flex;
	overflow: hidden;
}
.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switch-field label {
	background-color: #CCC;
	font-weight: 500;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	transition: all 0.1s ease-in-out;
}
.switch-field label:hover {
	cursor: pointer;
}
.switch-field input:checked + label {
	background-color: teal;
	box-shadow: none;
}
.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
/**
 * Helper
*/
#helper {
	position: absolute;
	font-size: 12px;
	top: 6px;
	right: 2px;
	font-style: italic;
}
.valid #helper {
	color: green;
}
.invalid #helper {
	color: red;
}
.text-muted {
	color: #777;
}
