#stickymsg {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background: var(--color-primary);
	color: var(--color-primary-contrast);
	padding: .325rem .5rem;
	border-radius: .325rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,.5);
}
.hide_elem {
	display: none !important;
}

/* COMENTARIOS */
.textarea-edit {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	font-size: 13px;
	margin: 5px 0 0;
	max-height: 500px;
	min-height: 50px;
	padding: 5px;
	width: 98%;
}
.btnEdit {
	width: auto; 
	margin:3px 0;
}
.comment-box .comment-info {
	font-size:11px;
	border-bottom: 1px solid #b4b4b4;
	height: 26px;
	overflow: hidden;
	padding: 0 !important;
}

.comment-content .answerOptions  ul li {
	padding:0px 5px 0 10px;
	
}

.answerOptions .metaDataA {
	margin-left: 4px;
}
.answerOptions ul li {
	float: left;
	display:block;
	background: url('./images/com-sep.png') repeat-y top left;  padding:0px 5px 0 10px;
	padding: 6px 5px 0;
}

.comment-box:hover .answerOptions ul li {
	opacity: 1!important;
}


.answerOptions ul li.deleteAnswer a img  {
	margin: 2px;
}
.answerOptions .systemicons {
	margin-top:1px;
}

.answerOptions ul li a span {
	background: url('./images/sprite-comment.png') no-repeat;
	display: block;
	height: 20px;
	width: 20px;
	&.voto-n-comentario  { 
		background-position: -42px -2px; 
		&:hover  { background-position: -63px -2px; } 
	}
	&.voto-p-comentario  { 
		background-position: -42px -24px; 
		&:hover  { background-position: -63px -24px; }
	}
	&.editar-comentario  { 
		background-position: -42px -44px; 
		&:hover  { background-position: -63px -44px; 
		}
	}
	&.moderar-comentario  { 
		background-position: 0 -44px; 
		&:hover  { background-position: -21px -44px; }
	}
	&.citar-comentario  { 
		background-position: 0px -2px; 
		&:hover  { background-position: -21px -2px; }
	}
	&.borrar-comentario  { 
		background-position: 0 -23px; 
		&:hover  { background-position: -21px -23px; }
	}
}


.numbersvotes {
	height: 20px;
	text-shadow: 0 1px 0 #ececec;
}

.numbersvotes .stats {
	display: none
}

span.positivo {
	color: #4ca306;
	font-weight: bold;
}

span.negativo {
	color: #a30606;
	font-weight: bold;
}

.comment-info .floatL {
	padding: 6px;
}
/**** STATUS ****/
.status {
	width:16px; 
	height:16px;
	background-image: url('./images/status.png');
	background-repeat: no-repeat;
}
.online {background-position: left 0;}
.busy {background-position: left -16px;}
.inactive{background-position: left -32px;}
.offline {background-position: left -48px;}
.banned {background-position: left -64px;}

/*
	ICONOS EN MONITOR Y ACTIVIDAD
	---------------------------------------------------
*/
.monac_icons {
	background-image: url('./images/sprite-monac.png');
	background-repeat: no-repeat;
	display: block;
	float: left;
	font-size: 12px;
	height: 16px;
	margin-right: 5px;
	width: 16px;
	&.ma_voto_negativo {background-position: 0 -16px;}
	&.ma_comment_post {background-position: 0 -32px;}
	&.ma_comment_resp {background-position: 0 -48px;}
	&.ma_post {background-position: 0 -64px;}
	&.ma_points {background-position: 0 -80px;}
	&.ma_star {background-position: 0 -96px;}
	&.ma_follow {background-position: 0 -112px;}
	&.ma_follow_post {background-position: 0 -128px;}
	&.ma_blue_ball {background-position: 0 -144px;}
	&.ma_share {background-position: 0 -160px;}
	&.ma_status {background-position: 0 -176px;}
	&.ma_wall_post {background-position: 0 -192px;}
	&.ma_w_comment {background-position: 0 -208px;}
	&.ma_w_like {background-position: 0 -224px;}
	&.ma_photo {background-position:  0 -240px;}
	&.ma_medal{ background: url('../../assets/images/icons/med/blue_bronze_16.png');}
}


	
/**
 * Copyright 
*/
#pp_copyright {
	padding:12px; 
	text-align:center; 
	color: #222;
}
#pp_copyright a {
	color:#444;
}

.form-line {
	position: relative;
	margin-bottom: 0.5rem;
	> label {
		font-weight: 600;
		display: block;
	}
	> input:not([type=submit],[type=radio],[type=checkbox]), textarea {
		width: 100%;
		box-sizing: border-box;
		font-family: var(--font-base);
		font-size: var(--font-size-sm);
		padding: 0.325rem 0.5rem;
		border-radius: var(--radius-sm);
	}
}

/**
 * Nuevo diseño para notificaciones|mensajes
*/
.dropdown-nots {
	all: unset;
	width: 300px;
	background: #fff;
	position: absolute;
	right: calc(-300px / 2);
	z-index: 300;
	top: 2rem;
	color:  #444;
	text-align: left;
	border-radius: .325rem;
	overflow: hidden;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	font-weight: 400;
	display: none;
}
.dropdown-nots#user_list {
	width: 200px;
	right: 0;
}
:where(.dropdown-header, .dropdown-footer) {
	font-weight: 700!important;
}
.dropdown-header, .dropdown-footer {
	display: block;
	padding: 0.5rem;
	font-size: .875rem;
	background: #EEE;
}
.dropdown-footer {
	text-align: center;
	font-size: 0.75rem;
}
.dropdown-content {
	padding: 0.325rem;
}
.dropdown-content a, .dropdown-link {
	display: inline-block;
	padding: 0;
	color: #333;
	font-weight: 700!important;
	text-decoration: none;
}
.dropdown-item, .dropdown-content[dropdown-open="Usuario"] .dropdown-item {
	border-radius: .325rem;
	margin-bottom: .325rem;
	display: grid;
	grid-template-columns: 16px 1fr;
	gap: .5rem;
	padding: 0.5rem;
	position: relative;
	&:last-child {
		margin-bottom: 0;
	}
	&:hover {
		background: #F7F7F7;
	}
	&.unread {
		background: #FFFFCC;
	}
	.icon {
		text-align: center;
		width: 16px;
		height: 16px;
	}
	.item-image {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		width: 18px;
		height: 18px;
	}
}
.dropdown-content[dropdown-open="Mensajes"] {
	max-height: calc(68px * 4);
	overflow-y: auto;
	.dropdown-item {
		display: block;
		.dropdown-link {
			font-weight: 400!important;
			display: grid;
			grid-template-columns: 3rem 1fr;
			gap: .5rem;
			.dropdown-avatar {
				width: 3rem;
				height: 3rem;
				object-fit: cover;
				border-radius: 10em;
			}
			.subject {
				font-weight: 700;
			}
			.preview {
				display: -webkit-box!important;
				-webkit-box-orient: vertical;
				overflow: hidden;
				white-space: normal;
				text-overflow: ellipsis;
			   -webkit-line-clamp: 1;
			   line-clamp: 1;
			   padding: .125rem 0;
			}
			.time {
				font-style: italic;
				text-align: right;
				color: #555;
				.autor {
					font-weight: 700;
				}
			}
		}
	}
}

.dropdown-empty {
	text-align: center;
	padding: .875rem 0;
	background: #FEEDD6;
	color: #C67409;
	border-radius: .325rem;
	font-size: 1rem;
}